body {
  font-family: "Lato", sans-serif;
}

#downloadButton {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 5vmin;
  font-weight: 1000;
  color: white;
  padding: 0.3em 0.6em 0.3em 0.6em;
  border-radius: 0.5em
}

#actionButton {
  background-color: rgba(0, 0, 0, 0.5) !important;
  font-weight: 1000;
}

#requestingCameraIcon {
  display: none !important;
}

#requestingCameraPermissions {
  background-color: transparent !important;
  color: black !important;
  text-align: center;
  font-size: 25px !important;
}

.button-primary-8w {
  background-color: #0ED5D9;
}

#loadImage {
  top: 80% !important;
  left: 60% !important;
  width: auto !important;
  height: auto !important;
}

#loadBackground {
  background-color: white !important;
  background-image: url('assets/CIV_logo.png');
  background-position: 50% 20%;
  background-repeat: no-repeat;
  background-size: 80%;
}

.poweredby-img {
  display: none !important;
}



#sidebar {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-x: visible;
  transition: 0.5s;
}

#sidebar a {
  position: absolute;
  left: 15%;
  top: 8%;
  transition: 0.3s;
}

img {
  max-width: 78%;
  height: auto;
}

#eng {
  position: absolute;
  display: none;
  text-decoration: none;
  top: 90%
}

#franc {
  position: absolute;
  display: none;
  text-decoration: none;
  top: 90%
}

#colHelp {
  left: 60%;
  top: 10%;
}

#camHelp {
  left: 60%;
  top: 50%;
}

#sidebar .closebtn {
  background-color: transparent;
  text-decoration: none;
  position: absolute;
  top: 0%;
  left: 80%;
  font-size: 150%;
  padding: 5% 5%;
  color:  #ffffff;
}

#sidebar .capturebtn {
  top: 24%;
}

#sidebar #help {
  position: absolute;
  top: 83%;
}

.slider {
  position: absolute;
  -webkit-appearance: none;
  top: 89%;
  left: 4.5%;
  width: 90%;
  height: 1%;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ff0000;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ff0000;
  cursor: pointer;
}

#main {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
}

.openbtn {
  position: absolute;
  top: 1%;
  left: 1%;
  font-size: 7vmin;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  color: white;
  padding: 0.3em 0.3em 0.3em 0.3em;
  border: none;
}

.donebtn {
  position: absolute;
  top: 2%;
  right: 3%;
  font-size: 5vmin;
  font-weight: 1000;
  text-decoration: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 0.3em 0.5em 0.3em 0.5em;
  border: none;
  max-width: 3.25em;
  min-width: 2.25em;
  border-radius: 1.5em;
}

#container {
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    z-index: 10;
    display: block;
  }

  #container span {
    color: white;
    position: absolute;
    font-size: 10px;
    font-weight: 1000;
    display: none;
  }