body {
  font-family: "Lato", sans-serif;
}

#loadBackground {
  background-color: #000;
  background-image: url('assets/CIV_logo_7.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#sidebar {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  transition: 0.5s;
}

#sidebar a {
  position: absolute;
  left: 15%;
  top: 8%;
  display: block;
  transition: 0.3s;
}

img {
  max-width: 78%;
  height: auto;
}

#sidebar .closebtn {
  background-color: transparent;
  text-decoration: none;
  position: absolute;
  top: 0%;
  left: 80%;
  font-size: 150%;
  padding: 5% 5%;
  color:  #ffffff;
}

#sidebar .capturebtn {
  top: 24%;
}

.slider {
  position: absolute;
  -webkit-appearance: none;
  top: 89%;
  left: 4.5%;
  width: 90%;
  height: 1%;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ff0000;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ff0000;
  cursor: pointer;
}

#main {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
}

.openbtn {
  position: absolute;
  top: 1%;
  left: 1%;
  font-size: 170%;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  color: white;
  padding: 10px 10px;
  border: none;
}

.donebtn {
  position: absolute;
  top: 2%;
  left: 77%;
  font-size: 20px;
  font-weight: 1000;
  text-decoration: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 1% 2%;
  border: none;
}

#container {
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    z-index: 10;
    display: block;
  }